ul.products li.product {
    display: flex;
    flex-direction: column;
}

ul.products li.product .woo-height {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

ul.products li.product .woo-height .add_to_cart_button,
ul.products li.product .woo-height a.button {
    margin-top: auto;
}