ul.products li.product {
    display: flex !important;
    flex-direction: column !important;
}

ul.products li.product>a.woocommerce-LoopProduct-link,
ul.products li.product>a.woocommerce-loop-product__link {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

ul.products li.product>a.add_to_cart_button,
ul.products li.product>a.button,
ul.products li.product>.button {
    margin-top: auto;
}